[2016-02-22 21:23] GerjanOnline opened #1 "Error: Running the contributed command:'extension.run0' failed."
I am running into this error, any idea?

![image](https://cloud.githubusercontent.com/assets/1153419/13233176/bbfd8a0c-d9b2-11e5-9699-3fe720e41b50.png)

![image](https://cloud.githubusercontent.com/assets/1153419/13233179/c96d0ece-d9b2-11e5-90cf-fcbeb1e2bc40.png)

[2016-02-22 22:32] guardrex commented on #1
@GerjanOnline Yeah ... it actually uses the `args` of each task in order to know what command to run. Therefore, your `tasks.json` tasks must have this format (note the `args` in the task) ...

[code]

Can you try this format for your file and see if it will work ...

[code]

That should assemble the full command to run as `npm run build`.

[EDIT] Although I do admit that if you don't have `suppor

[2016-02-22 22:36] guardrex commented on #1
@GerjanOnline Yes, I just confirmed that I did set it up to run the command based on the `args` only. Therefore, you need to reconfigure your tasks to look just like this ...

[code]

The reason I did that was that I wanted to allow for you to name the tasks with `taskName` to anything you want ... that doesn't become part of the actual command that is run.

[2016-02-22 22:45] GerjanOnline commented on #1
![image](https://cloud.githubusercontent.com/assets/1153419/13235439/2ec97996-d9be-11e5-8f85-6ce8de8f95f3.png)

Do I have the right config now? Something still not right... ;) CTRL + SHIFT + B stil works

[2016-02-22 22:51] guardrex commented on #1
mmmm ... Try this for the args to see if it will write out and execute the full command.

[code]

Some of my own problems are coming from the fact that I've only been using VS Code for two weeks!

[2016-02-22 22:53] guardrex commented on #1
I sort of wonder, too, if you are going to have to change the `npm` to `cmd` and the top-level `args` from `["run"]` to `["/c"]` ... the way I show in the sample file.

Are you on Windows OS?

[2016-02-22 22:54] guardrex commented on #1
So if you're on Windows, the file would look like this ...

[code]

[2016-02-22 22:54] GerjanOnline commented on #1
Yes that one works from the status bar but now the `Run Task` /  `CTRL+SHIFT+B` is broken! Its doing: `npm run npm run build`

[2016-02-22 22:55] GerjanOnline commented on #1
Ah yes, I was also thinking in that direction, i need to switch to `cmd` as main command...

[2016-02-22 22:56] guardrex commented on #1
Yes ... go with `cmd` there and `/c` as the arg.

[2016-02-22 23:01] GerjanOnline commented on #1
Works! Thanks @GuardRex

For completeness, my `tasks.json`:

[code]

[2016-02-22 23:02] guardrex commented on #1
@GerjanOnline Sweet! :smile: Before two weeks ago, I never even used VS Code. The extension is even newer. Sorry it took me so long, but I'm glad it had a happy ending.

I'll add some additional commentary on this to the ReadMe on my next update. All I say right now is that the format of the file must match, but I think I need to explain what the top-level `command` and `args` is doing relative to

[2016-02-25 09:20] use-strict opened #2 "Does not parse tasks.json containing comments"
VSCode allows comments inside its *.json config files. This is invalid JSON and can't be parsed directly with JSON.parse, resulting in an error.

[2016-02-25 14:57] guardrex commented on #2
@use-strict I noticed that too, which is why I pulled the comments out of the top of the sample JSON you see at the extension homepage in the Marketplace.

I'm using the JSON parser to read the file ...

[code]

Since the parser is following the JSON spec, where technically there shouldn't be comments in the file, it breaks if there are comments.

I agree with you in principle: Since VS Code allow

[2016-02-25 16:32] guardrex commented on #2
@use-strict First, I tried an npm module `strip-json-comments`; however, that worked in debug and broke in release. Therefore, I decided to do it the old fashioned way ... regex ...

[code]

It's not very sophisticated, but that should remove the following types of comments ...

[code]

The updated version is online now in the VS Marketplace (v.0.0.5). I'll leave this open for a sec to hear back i

[2016-02-26 08:24] use-strict commented on #2
Very quick response, thanks. It almost works, except there are also empty lines with comments. Should be `(.*)` instead of `(.+)` and that should fix it I think.

e.g.:

[code]

[2016-02-26 18:17] guardrex commented on #2
@use-strict Yes! Indeed ... 0 or more matches ... not 1 or more. Update made (v.0.0.6). I'll leave open a bit longer to make sure we're good here. Thanks again for your help.

[2016-02-29 16:05] guardrex commented on #2
@use-strict I think we have this one licked. I'll close now. Please re-open if this approach craps out. Thank you again for your help on this.

[2016-02-29 16:05] #2 closed

[2016-03-01 09:16] use-strict opened #3 "Permission denied error"
Not sure if this is a problem with vscode or the extension. I'm getting this:
[code]

I have a task that looks like this:
[code]

Also, the output is going to "Project Task" channel. Is there a reason why it doesn't go to "Tasks" channel instead?

[2016-03-01 15:43] guardrex commented on #3
@use-strict Does the task run normally if you run it manually (F1 -> T -> Tasks: Run Task -> build)? If that breaks, I guess its a VS Code/OS permissions issue. Even if that works but the status bar button doesn't work, I'd be at a bit of a loss on this. I did a quick search on elevating permissions from the command line, and there are some possibilities (but they're kind'a nasty):

http://stackov

[2016-03-01 15:57] use-strict commented on #3
The task runs OK with CTRL+SHIFT+B or "run task". I'm guessing the API exposed to the extension doesn't do the same thing as the main one. There must be something different. I see no other reason why one works and the other doesn't.

[2016-03-01 15:59] guardrex commented on #3
Are you on Win OS?

[2016-03-01 16:01] use-strict commented on #3
Ubuntu 14.

[2016-03-01 16:09] guardrex commented on #3
Ah ... You got me on that one. Apparently, there is something diff between the two execution approaches. I can't think of anything from my research on tasks, and I know nothing at all about that OS.

[2016-03-01 16:11] use-strict commented on #3
I will test this on Windows on my home computer and will try to do a little research as well.

[2016-03-01 16:12] guardrex commented on #3
Ok. I'll leave this open for now in case something turns up.

I'll get the Tasks panel update done within a few hours. The new version will be 0.0.7.

[2016-03-01 16:26] use-strict commented on #3
I see that you called `exec` directly. That probably leads to a permission error because of the execution context. Would something like this work instead?

[code]

I took the command from Preferences -> Keybinds (there is a list of available commands in the lower part)

[2016-03-01 17:24] guardrex commented on #3
@use-strict I'm going to try that now and see what happens. Clearly, I went down the road of the npm child_process module. Maybe that was the wrong way to go. I'll see if I have some success with it. It would also totally solve the "Tasks" panel output issue, since it would be executing them as OOB VS Code tasks. I'll get back to you.

[2016-03-01 17:29] guardrex commented on #3
Ah, yes. Now I recall why I had to go to the `child_process` module. I did try what you suggested very early when I first started writing the code. The result is that it opens the command palette and does **not** actually run the command ...

![capture](https://cloud.githubusercontent.com/assets/1622880/13435606/f35dcb1e-df8f-11e5-954a-17d8ff0c69c2.PNG)

[2016-03-02 20:23] use-strict commented on #3
grrrr.....so I guess that's something that has to be implemented in the IDE. Unless there is some other way that we aren't aware of.

[2016-03-02 21:17] guardrex commented on #3
that's right. I don't know of a way from my research on it how to directly trigger a task from the VS Code API. My workaround was to use npm `child_process`, which would work cross-plat (barring this permissions issue of course) to basically run the command directly.

Is there anyway you can run the entire VS Code application with elevated permissions?

[2016-03-18 10:13] Alphapage opened #4 "status-bar-launch"
Hello,

Do you plan to implement such a feature to be able to launch the debugger instead of the task ?

I think this would be a great tool and I hope this could help others.

Thank you in advance for your feedback.

[2016-03-18 14:54] guardrex commented on #4
@Alphapage They haven't quite firmed up the `dotnet cli` command structure and process for debugging. There was this recent "experimental" approach discussed by MS:

https://blogs.msdn.microsoft.com/visualstudioalm/2016/03/10/experimental-net-core-debugging-in-vs-code/

... and they apparently have it working for executing `dotnet run` and then attaching the debugger to the process. I haven't trie

[2016-03-18 18:29] Alphapage commented on #4
Great news.
I'm using vscode for nodejs instead of dotnet, but I hope such a tool will help to run quickly a launch.json config.

[2016-03-18 18:35] guardrex commented on #4
As long as the command can be executed by Node's `child_process` module,
the current extension should work. That's the module it's using to run the
`dotnet` commands you see in the sample `Tasks.json` file.

I'll keep an eye on the debugging bits and see if I need to add something
to the extension at RC2.
On Mar 18, 2016 11:29 AM, "Alphapage" notifications@github.com wrote:

[2016-03-20 14:57] Alphapage commented on #1
Hello,

I didn't have such a problem, but I wanted to use same command for all platforms with nodejs.
I only had to modify the getTaskArray function to make this working:

[code]

I debugged in the vscode directly, so this is pure javascript but should work in the ts file.
This code add the top-level command and args to each tasks when necessary.
I hope this will help you to enhance your tool.

[2016-03-20 16:18] guardrex commented on #1
@Alphapage

Yes ... its true that the F1 experience will execute the command along with whatever is in the task arguments and that your suggestion would make the extension behavior match the F1 experience exactly; however, the way I have it now where **only** the task argument list gets executed when the status bar button is clicked provides the greatest flexibility.

I mean that let's say someone

[2016-03-20 18:11] Alphapage commented on #1
I created a feature request:
https://github.com/Microsoft/vscode/issues/4475

I'm not agree with you because I think you have to follow the way vscode tasks.json is working for now, even if this is a way causing problems.
You just have to tell in the readme, that you don't care about command and args in top level.
This is not a problem for me because it shows the limitation of tasks.json.

And you

[2016-03-20 18:42] guardrex commented on #1
Well, I don't totally disagree in general; however, Microsoft isn't Apple! :smile:, so I kind of can do whatever I want.

What I like about the way I have it now is that the Node `child_process` module will execute **exactly** what you specify at the task-level ... no more ... no less. Because it ignores the command at the top-level, you have the ultimately flexibility the way I set it up.

If you

[2016-03-21 09:29] Alphapage opened #5 "Refresh status bar when tasks.json is saved"
Hello,

I think this could be possible to detect when tasks.json is modified, then refresh the status bar:
[code]

From there, I don't know if you need to use a command to 'Reload Window' or if you can refresh the status bar directly which should be better.
Need to investigate more.

Thanks in advance for your feedback.

[2016-04-27 08:53] ntswor opened #6 "Error when using tasks variable substitution"
I'm currently trying to start following task:

[code]
But as it seems the variable substitution is not correctly filled:

[code]

Running the task directly is working though.

[2016-04-27 14:47] guardrex commented on #6
@ntswor That's correct: The extension doesn't attempt to perform variable substitution. The contents of the `"args"` will are passed directly to Node's `child_process` module for execution. Whatever is in the string(s) becomes the command when the status bar task is clicked. This is a limitation of the extension just due to my available time.

The list of variable substitutions normally includes:

[2016-04-27 14:52] guardrex commented on #3
This is an issue that I can't address due to the limitation of the VS Code API. There is no direct way AFAICT to trigger tasks via the API. That's too bad, too, because it would have solved several other problems (e.g., the recent request to have variable substitution https://github.com/GuardRex/vscode-status-bar-tasks/issues/6). Since I can't fix this one, I'll close now.

[2016-04-27 14:52] #3 closed

[2016-04-27 15:20] guardrex commented on #1
@Alphapage I pinged them on this, and I still plan to address the problem with the extension as soon as they fix it properly in VS Code. It looks like it slipped their April iteration. I'm hoping they'll get to it in May.

[2016-04-27 15:24] guardrex commented on #5
@Alphapage I'm going to look into this later today. I can possibly knock out two birds with one stone: There is also a request for variable substitution that would be a nice feature add to the extension. I'll ping back later.

[2016-04-28 07:14] guardrex commented on #6
@ntswor Didn't get to it today, but I think I'll have time on Thursday evening. I would like to get this one in there, so I hope to have good news to report on it shortly.

[2016-04-28 07:14] guardrex commented on #5
@Alphapage I didn't get to this today, but I think I'll have time Thursday evening (or sometime this weekend at the latest). I'll ping back as soon as I can get to it.

[2016-04-29 07:01] ntswor commented on #6
@GuardRex thx, would appreciate it. You did a great work with the extension and I would like to use it for this too.

[2016-04-29 07:03] guardrex commented on #6
@ntswor Thanks. I **almost** got done today with updates to a document that I've been working on for the past two days. I have to get the PR in on that first, then I can come over and work on this. I don't think it will take all that long. This is a simple string replacement with values that I should be able to grab easily from the VS Code API. I should get to this very soon ... Friday ... Saturda

[2016-05-02 04:17] guardrex commented on #6
@ntswor Ok, I think we're on to something here. I just updated to v0.0.8, which has the new code in it for the variable replacements. I was able to do ...
- ${workspaceRoot} the path of the folder opened in VS Code
- ${file} the current opened file
- ${fileBasename} the current opened file's basename
- ${fileDirname} the current opened file's directory
- ${fileExtname} the current opened file's ex

[2016-05-02 04:23] guardrex commented on #5
@Alphapage I attempted this today, but it didn't work. I need to play with it a little more. I was hoping this would work inside of the `activate()`, but it's throwing an exception about the ":" (colon) there in the paramters.

[code]

I'll try to get back and take another look at this sometime this week.

[2016-05-06 06:29] ntswor commented on #6
Sorry for the late response - couldn't comment for some reason.
Thanks for the changes. Works like a charm.

[2016-05-06 06:57] guardrex commented on #6
np ... thx for the suggestion.

[2016-05-06 06:57] #6 closed

[2016-05-07 06:29] guardrex commented on #5
@Alphapage :tada: Got IT! :tada: :smile: Version with this feature is 0.0.9 and it's in the gallery now.

If it doesn't show up as an "outdated extension" in your VS Code when you F1, then (1) delete it, (2) restart VS Code, (3) install 0.0.9.

I'll wait for you to confirm that it works before closing the issue. All you have to do is make an update to your `tasks.json` file and save the file. The

[2016-05-10 13:16] Alphapage commented on #5
I've just tested and it seems to work. This is a great new feature. Thank you

[2016-05-10 13:16] #5 closed

[2016-07-29 09:54] ZoolWay opened #7 "Support for auto-detected gulp tasks"
Hi,

I can run gulp tasks with the task runner in VS code with a `tasks.json` like this:

[code]

Note that there are no tasks mentioned, they are auto-detected from the gulpfile. Would be great if this extension could offer that too!

[2016-07-29 14:42] guardrex commented on #7
That's a good feature request, but I'm extremely time-limited right now.

It would have to be opt-in with a VS Code setting. Many devs wouldn't want a feature like this turned on by default.
1. Many devs either have a small subset of commands that they keep in the status bar ... not everything in their gulpfile (or even anything from their gulpfile at all), and
2. Many devs organize their gulpfile

[2016-08-25 02:22] blackwind opened #8 "Task's parent elements aren't considered"
Given the following example `tasks.json`:

[code]

When Ctrl+Shift+B is pressed, VSC combines `command` and both `args` lists to make "deploy my-project -b" and correctly runs my build task. When I click "Build" on the statusbar, SBT returns:

[code]

[2016-08-25 15:46] guardrex commented on #8
That's because the full command must appear as the arguments in the tasks command. This would be for Windows (I'll come back to Mac in a sec) ...

[code]

It's documented on the [ReadMe](https://marketplace.visualstudio.com/items?itemName=GuardRex.status-bar-tasks), but not everyone sees it because many install the extension from VSC and the ReadMe isn't shown if the extension is installed directl

[2016-08-25 20:56] blackwind commented on #8
See, this isn't an unreasonable explanation or anything, but the reality is, whether it might be changing in the future or not, this is how VSC handles it today, so this is what many people are going to be using, so it should work in your extension today. And hey, if someone happens to already be using the method you suggest, "cmd /c deploy my-project -b" would work just as well executed from Node

[2016-08-25 22:23] guardrex commented on #8
The problem is that `cmd /c` would be stuck on every command run (as you say ... the way VSC is supposed to work :smile: ), and I didn't want to gamble that it would be ok in all cases to open a shell to run the command. Maybe that's a bad guess on my part ... it definitely led to an "opinionated" extension: (1) The dev probably won't use the Command Palette opting to always click their status bar

[2016-08-25 22:40] blackwind commented on #8
As I say, not an unreasonable assumption, but the fact remains, if it works through the command palette, it should work through the extension as well.

Windows developer here, so I'm afraid I can't speak to this.

I recommend defaulting that to `true` so there's no out-of-the-box friction. This is the kind of thing that leads to uninstalls and bad reviews.

Sounds good. :)

[2016-08-26 15:09] guardrex commented on #8
Hum ... https://github.com/Microsoft/vscode/issues/981#issuecomment-242699427

Well, we have our answer: They would like to address it but they have no idea when they'll get around to it. Sorry to see the "Since we are a small team of developers" remark, which I've seen from the OData folks and hinted by the Azure Identity and Storage, and the .NET devs, too ... MS made something like **$20 BILLIO

[2016-08-26 15:12] guardrex commented on #7
I'm planning an update for the extension in a couple of weeks. That will include an attempt to setup a custom setting for controlling the default VSC behavior of adding the top-level command and arguments to each task. I'll see if I can add a custom bool setting to make it read in the gulpfile commands, too. It will take a few weeks to get there, but I'll post back here the result of my efforts.

[2016-08-26 15:14] guardrex commented on #4
I have an update coming up in a few weeks. I'll see if I can make it do this at the same time and have a bool setting to add the command to the status bar. It will depend on if their API has a command that will trigger the debugger. I'll find out and report back when I get to the next update.

[2016-08-27 11:50] visualperception opened #9 "Found what appears to be bug"
my tasks.json code is:

if args conatains a vscode variable such as ${relativeFile}, then it doesn't get translated when passing it to a browser. I get following in my browser url:

`http://localhost/$%7BrelativeFile%7D`

running task directly from vscode it does get translated.

my code is:

[code]

thanks

[2016-08-27 12:23] visualperception opened #10 "request for enhancement"
vscode varibales in tasks.json provides for various variables. The one I'm looking at specifically is:
${workspaceRoot}

This returns ( I think) the root folder as opened with vscode file menu. i.e. is the root of your editing environment and what is returned is the full file path to folder. e.g. c:\folder1\folder2\folder3 if that happened to be your folder structure to the workspaceRoot

For me w

[2016-08-30 01:20] blackwind opened #11 "Output to "Tasks" view instead of "Status Bar Tasks""
In the spirit of #8 and properly integrating with VSCode rather than stubbornly cutting its own path, I'd like to suggest that SBT output to the existing "Tasks" view of the output console instead of its own "Status Bar Tasks" view.

[2016-08-30 22:17] guardrex commented on #11
ha!

You can't. The API doesn't permit it. This is one that is truly out of my hands. [But I **wholeheartedly** agree with you!!!] See: https://github.com/Microsoft/vscode/issues/6192

[2016-08-30 22:23] blackwind commented on #11
Ah, of course. Gotta love API limitations!

[2016-08-30 22:26] guardrex commented on #11
Since I opened that issue, I might get flagged if they start to permit attaching to the Tasks output. I'm going to close this issue b/c there's nothing I can do about this, but I will try to keep an eye on them regarding this issue. Eventually, I'll ping them on it and ask if it's still under consideration.

[2016-08-30 22:36] guardrex commented on #9
The extension only supports ...
- ${workspaceRoot} the path of the folder opened in VS Code
- ${file} the current opened file
- ${fileBasename} the current opened file's basename
- ${fileDirname} the current opened file's directory
- ${fileExtname} the current opened file's extension
- ${env.} environment variable (e.g., ${env.MY_ENV_VAR} will be replaced by the value of MY_ENV_VAR on the system o

[2016-08-30 22:37] guardrex commented on #10
Let me take a look at this as soon as I can get back to it. I'm getting slammed with professional work right now ... I'm on a 10-12 hour day 7-days a week trying to catch up.

[2016-08-30 23:02] visualperception commented on #10
as it happens I have now posted a request for a new system variable which returns the workspaceRootFolderName without its path. This is in progress and will negate the need to use an extension to build a url since in task args I will just be able to put ${workspaceRootFolderName}/$relativeFile and pass that directly to iexplore in my task (and also assign a key to the task without using an extensi

[2016-08-30 23:58] guardrex commented on #10
I agree with that sentiment. I do need to try and dedicate more time to keeping this mildly popular extension up-to-date. I'm working on a major professional project at the moment that's taking like 12 hours a day and 7 days a week. I think I'll get this project behind me in about 2+ weeks. I'll take a day at that point and just work the extension forward on the last few feature requests in the is

[2016-09-06 23:41] blackwind commented on #11
A thought: See Microsoft/vscode#6550 and Microsoft/vscode#10676, which are scheduled for the September milestone. Perhaps SBT could simply launch tasks via this new method, which would take care of both this and #8.

[2016-09-09 15:41] medvedevden1s opened #12 "How to change default path for gulpfile.js ?"
Location of task.json file is ./vscode
My gulpfile.js file location is ./src/folderName/folderName/gulpfile.js

So, the question is, how to set path for gulpfile.js file?

Thanks in advance,
Denis

[2016-09-10 06:12] guardrex commented on #12
I set the extension up so you can put anything into the `arguments` that you want, and it will just add that to the command that is fed to Node's `child_process`.

According to online resources, they did add a `--gulpfile` switch to indicate a `gulpfile.js` someplace outside of the project.

Try this and see if it works ...

[code]

[2016-09-12 07:30] medvedevden1s commented on #12
Thanks a lot!!! It works

[2016-09-12 14:45] #12 closed

[2016-09-19 19:31] guardrex commented on #11
Hi ... sorry for the insanely long delay. I'm getting slammed right now with professional projects, and there is even the possibility that I might have to pull this extension down I'm getting so busy these days.

I wish they would just offer a button-based system for launching tasks. I get keyboard launch is more important, but people do like to click on things! :smile:

cc/ @dbaeumer  ... You're

[2016-10-21 04:34] blackwind commented on #8
Since #11 won't be happening any time soon (no further work has been done on [the issues I referenced](https://github.com/GuardRex/vscode-status-bar-tasks/issues/11#issuecomment-245130118) since my original post, and it's looking like they'll miss the October milestone as well), I'd love to see a fix for this issue in the interim.

[2016-10-21 05:07] guardrex commented on #8
I never was able to get back to this. I'm working 60-hour weeks on professional projects these days with no end in sight at the moment.

[2016-12-05 20:24] ZoolWay opened #13 "Cancel launched tasks"
Hi!

If I run a task which will run till stopped, like a good old `gulp watch`, how can I stop the task? Will they remain infinitely? Obviously Ctrl+C in the SBT output window does not work ;)

If there is no functionality for that yet, how about marking the status bar entry while running and a second click on it sends a ctrl+C or something else configureable?

[2016-12-06 04:54] guardrex commented on #13
Good point, as I've always used the extension myself to just trigger individual, discrete Gulp tasks that run to their end.

The extension isn't really running the command (directly). Commands, like a Gulp task, are executed by Node's `child_process` module behind-the-scenes.

https://github.com/GuardRex/vscode-status-bar-tasks/blob/master/status-bar-tasks/src/extension.ts#L5
https://nodejs.org/ap

[2016-12-06 09:24] ZoolWay commented on #13
Yeah, I myself just did "ending" discrete commands until now.

But as the example showed the `watch` and I wanted to optimize my command line handling, I gave it a try. My serve/watch tasks spawn a webserver so they are not ending.

I was expecting to have that these processes at least terminate when VS Code is closed but that is **not** the case! You have to kill them which is not very nice. Mayb

[2016-12-19 14:08] BillDenton opened #14 "Multiple variable substitutions don't work"
When substituting a variable more once the second one doesn't get substituted. For example:
      {
         "taskName": "Cmd Prompt Build",
         "args": ["cd ${workspaceRoot}\\build && start cmd.exe /k title ${workspaceRoot} Build"]
      },

Gives a command prompt with title "${workspaceRoot} Build" rather than, for example, c:\code\build Build.

[2016-12-19 14:18] BillDenton opened #15 "Feature request: Exclude tasks from the Status Bar."
I've got a lot of tasks in the tasks.json file, so would like only some of them to appear on the status bar. Would it be possible to mark them for inclusion/exclusion in tasks.json. The excluded commands could be run via Ctrl-Shift-P Run Tasks, so any change would have to be compatible with normal method of running tasks.

[2016-12-19 17:20] guardrex commented on #14
Yes, this is because I didn't setup a global replacement by mistake ... I'm too accustomed to C# `.Replace()`, which will replace all occurrences.

https://github.com/GuardRex/vscode-status-bar-tasks/blob/master/status-bar-tasks/src/extension.ts#L81

Looks like the split/replace approach gets a lot of dev love ...
[code]
... so I'll give that a shot.

I'll get a fix in for this asap and ping you b

[2016-12-19 17:26] guardrex commented on #15
I'm going to give this a shot on this update today. I'll ping you back with the outcome ... it should be an easy one-liner to make it do this.

[2016-12-19 17:49] guardrex commented on #13
I'm putting in an update today, and I took a second :eyes: look at this. I don't have time myself to implement a feature that would cover this, but I will leave this open and up-for-grabs. This isn't like a paid product, and I have many other professional demands on my time right now (including a big job/contract search for my next gig).

However, I will remove `dotnet watch` from the instructions

[2016-12-19 17:52] guardrex commented on #11
They said they're going to take a fresh look at the entire tasks system in January. We're still on hold here to see which way they go. :watch:

[2016-12-19 22:23] guardrex commented on #14
Fix on this is forthcoming. I'm going to knock out a few issues in one shot.

[2016-12-19 22:25] guardrex commented on #15
I have this working ... except for one little thing. There might be a schema file for `tasks.json` that results in a warning in the file when a custom property is added.

![capture](https://cloud.githubusercontent.com/assets/1622880/21331355/9a0fb3ec-c607-11e6-9eea-f9e926093a86.PNG)

I'm going to pick back up with the updates when I hear back from the VSC folks: https://github.com/Microsoft/vscode

[2016-12-19 22:57] guardrex commented on #10
ugh .... 2 weeks ... more like 2+ *months* ... BUT ... licked it!

The string will be ~`${workspaceRootname}`~ `${workspaceRootFolderName}` ,,,

`${workspaceRoot}` | `${workspaceRootFolderName}`
--- | ---
c:\_APPS\folder1 | folder1
c:\_APPS\folder1\folder2 | folder2

This will be implemented in the next update (v.0.1.1), which will be out within a day. I'm just waiting on VSC devs to get back to m

[2016-12-19 23:05] guardrex commented on #10
Actually, they added it to VSC as `${workspaceRootFolderName} `, so I'll use the same variable name for the extension.

[2016-12-19 23:24] guardrex commented on #9
@visualperception Let me do a head-check with you on this just to make sure ...

`${workspaceRoot}` = *c:\\_APP\\folder1\\folder2\\*
Currently opened file = *c:\\_APP\\folder1\\folder2\\folder3\\somefile.txt*
`${relativeFile}` = *folder3\\somefile.txt* 👈 Is that correct?

[2016-12-19 23:40] visualperception commented on #9
${relativeFile}  does NOT have a leading / so you are correct on that

in my tasks json file I now have since the implementation of ${workspaceRootFolderName}
`{
    // See https://go.microsoft.com/fwlink/?LinkId=733558
    // for the documentation about the tasks.json format
    "version": "0.1.0",
    "command": "cmd",
    "isShellCommand": true,
    "showOutput": "always",
    "args": ["/C"],

[2016-12-19 23:51] guardrex commented on #9
Yes, I do have `${workspaceRootFolderName}` with no slashes ... just the last folder name from the workspace root, so I think I'm good there.

I just wanted to make sure that my definition of "relative" matches the common notion here as I show above.

You also raise an interesting point here wrt `\` (backslashes) and `/` (forward slashes). On non-Windows OS's, I take it that VSC is dealing with fo

[2016-12-19 23:55] guardrex commented on #9
:+1: Yes. I have it working now.

I just need to deal with the `/` forward slashes situation for `/` forward slash platforms.

This will make the next update, and I'm mostly just going to be waiting on them to get back to me on another issue/feature before I roll out the update. The version will be v0.1.1, and I hope to get it out later tonight or tomorrow depending on how fast they get back to me

[2016-12-20 04:12] guardrex commented on #9
Yep. Looking good. When this version hits, you can test the var replacements with this task ...
[code]
I'm just waiting now on one of the VSC devs to get back to me and let me know what to do about the file schema for `tasks.json` so that the `"showInStatusBar": false` property will work.

[2016-12-20 06:25] guardrex commented on #15
This is (provisionally*) fixed with latest version in the gallery (v.0.1.2).

provisionally* = I'm still waiting on them to tell me what I can do about the warning on the property that I added to the `tasks.json` file.

The feature works tho, so I'm going to close.

[2016-12-20 06:25] #15 closed

[2016-12-20 06:26] guardrex commented on #14
This is fixed with latest version in the gallery (v.0.1.2). Thanks for pointing it out.

[2016-12-20 06:26] #14 closed

[2016-12-20 06:26] guardrex commented on #10
This is fixed with latest version in the gallery (v.0.1.2). Thanks for pointing out that they added some new vars.

[2016-12-20 06:26] #10 closed

[2016-12-20 06:27] guardrex commented on #9
This is fixed with latest version in the gallery (v.0.1.2). Thanks again for pointing out the problem.

[2016-12-20 06:27] #9 closed

[2016-12-20 10:54] BillDenton commented on #14
Verified fixed. Thanks.

[2016-12-20 10:59] BillDenton commented on #15
Thanks. Verified that items marked with '"showInStatusBar": false' do not appear in the status bar. Obviously there is a warning.

[2017-01-18 12:30] skazarynau opened #16 "Doesn't work if tasks should be run not from workspaceRoot"
This is my tasks.json

{
    // See https://go.microsoft.com/fwlink/?LinkId=733558
    // for the documentation about the tasks.json format
    "options": {
        "cwd": "${workspaceRoot}/somefolder"
    },
    "version": "0.1.0",
    "command": "cmd",
    "isShellCommand": true,
    "args": ["/C"],
    "showOutput": "always",
    "suppressTaskName": true,
    "tasks": [
        {
            "t

[2017-01-20 08:25] guardrex commented on #16
Correct, `cwd` isn't supported by the extension.

Is there any chance that using your path on the arguments will work as a workaround?
[code]

[2017-01-20 08:57] skazarynau commented on #16
Hi,
I tried your idea. Unfortunately I get other error:
`Waf: Run from a directory containing a file named 'wscript'`

So maybe the only workaround is to create batch files for every task

[2017-01-20 15:53] guardrex commented on #16
I'm not sure on what to do. I've taken the extension as far as I can right now in terms of its features. I had no idea it was going to become as popular as it has. Of course, I don't make a dime off of it. I really only ever made it in the first place for my own use and just threw it up there for a few friends who wanted to use it. I had no idea it would be as popular as it is. My time is very lim

[2017-02-02 21:40] pr-yemibedu commented on #13
Hello,
 So when something is kicked off, do you get back a pid that can be saved? those can be persisted and on various platforms (like tasklist on windows or ps -e on unix/Linux) could help to manage was is still running or what needs to be sent a (taskkill or kill -9) stop command. Just thinking out loud for anyone with time to implement. Thank you. Good day.

[2017-02-03 11:26] hhucqian opened #17 "update to 1.9"
https://code.visualstudio.com/updates/v1_9#_task-support

now I can define different commands per task. and the extension can't work correctly

[2017-02-03 16:21] guardrex commented on #17
Correct. I have to find some time this weekend to do the upgrade for the extension. I'll see if I can get it done in the next two days and ping you back here.

[2017-02-05 15:58] guardrex commented on #15
They sort answered me, and I almost have a schema applies that will get rid of the warning: https://github.com/Microsoft/vscode/issues/17566

[2017-02-05 16:01] guardrex commented on #17
I did the work on this, and I'm almost ready to update the extension. I'm just waiting on a answer from them on another issue: https://github.com/Microsoft/vscode/issues/17566

If I don't hear back from them within 24 hours, I'll go ahead and get the extension up there and deal with that other issue in a future update.

[2017-02-08 19:39] guardrex commented on #17
I was just informed that the underlying problem with the `tasks.json` schema not picking up my new property is a rather difficult nut for them to crack. They opened a new issue to request the feature, but new features like this may take quite a long time or never become implemented. The new issue is at: https://github.com/Microsoft/vscode/issues/20193

I'm going to try to get this extension update

[2017-02-09 01:31] guardrex commented on #17
Just released v0.2.0 that fixes this issue.

You can add and use a `command` property on individual tasks. If you do so, the global `command` and `args` are not applied.

If you leave your command and arguments in the `args` property and don't specify a task `command`, then the global `command` and `args` will be used.

[code]
The first restore command will run ...
[code]
The second restore comman

[2017-02-09 01:31] #17 closed

[2017-02-09 01:33] guardrex commented on #8
Just released v0.2.0 that fixes this issue.

You can add and use a `command` property on individual tasks. If you do so, the global `command` and `args` are not applied.

If you leave your command and arguments in the `args` property and don't specify a task `command`, then the global `command` and `args` will be used.

[code]
The first restore command will run ...
[code]
The second restore comman

[2017-02-09 01:33] #8 closed

[2017-02-09 01:36] guardrex commented on #1
Just released v0.2.0 that fixes this issue.

You can add and use a `command` property on individual tasks. If you do so, the global `command` and `args` are not applied.

If you leave your command and arguments in the `args` property and don't specify a task `command`, then the global `command` and `args` will be used.

[code]
The first restore command will run ...
[code]
The second restore comman

[2017-02-09 01:36] #1 closed

[2017-02-09 01:38] blackwind commented on #8
Seems to work as advertised, with one small caveat: `"options": {"cwd": "${workspaceRoot}/.."}` isn't respected.

[2017-02-09 01:40] guardrex commented on #8
Correct ... that's not a feature. I'll open an issue. That one isn't so bad ... the upcoming feature that they are planning for chaining tasks together will be a pain.

[2017-02-09 01:41] guardrex opened #18 "Add feature to support options"
From https://github.com/GuardRex/vscode-status-bar-tasks/issues/8#issuecomment-278520548

@blackwind says ...

[2017-02-17 13:42] kobalicek opened #19 ""tasks.args" is ignored"
I don't have much to add, when I installed this extension it was working great, but after some updates it doesn't work anymore.

My tasks (a bit stripped):

[code]

When I click "Build" it doesn't pass arguments to the script, so `manage.sh` is called with no arguments and thus does nothing. BTW thanks for this extension, I really like it, if it was working :)

[2017-02-17 16:41] guardrex commented on #19
Try separating those into separate arguments.

Instead of using ...
[code]
... try it like this ...
[code]

[2017-02-17 16:47] kobalicek commented on #19
Unfortunately that doesn't work for me, it also doesn't work in vs code anymore if I separate it that way. I guess would have to live without it :) But thanks for your reply!

[2017-02-17 17:49] guardrex commented on #19
I'll do a test here with your task setup and see if I can repro the issue. I'll be home in a few hours to try it and report back.

[2017-02-17 22:04] guardrex commented on #19
I find it confusing that its not working. I can't repro the problem here.

The code that assembles the command and arguments to run is very vanilla ... it just combines the arguments and sticks them on the command and then uses Node's `child_process` to run it.

Can you confirm your VS Code version? It should be v1.9.1. It's shown under `Help > About` in the menubar.

Can you run a test task and p

[2017-03-03 05:51] blackwind commented on #11
We now have the [`workbench.action.tasks.runTask` command](https://code.visualstudio.com/updates/v1_10#_task-support). Is that sufficient to get this one and #18 done?

[2017-03-03 06:02] guardrex commented on #11
Possibly ... only one tiny (**GIANT**) snag ... I was just hired by Microsoft. Yeah. I'm not kidding. However, I will try to test with `runTask` on the 2nd or 3rd weekend of this month. No promises tho. Microsoft comes first.

[2017-03-03 06:10] blackwind commented on #11
Hah, congratulations! By all means, keep your eyes on the prize. Another few weeks won't hurt.

[2017-03-03 06:12] guardrex commented on #11
Thanks ... yeah ... it's awesome! ... It should be easy to test out that command. It shouldn't take more than an hour or two. I know the next weekend or two will be a little rough getting settled into the new schedule, but I anticipate having my weekends back in a couple of weeks. I'll leave this in my Inbox to remind me.

[2017-03-12 13:34] alan-null commented on #19
Hello @GuardRex

I am facing the same problem
**VSC version:**
![image](https://cloud.githubusercontent.com/assets/6848691/23832187/409adf7a-0730-11e7-9c7a-db658086c59e.png)

**System**: Windows 10 x64

My `tasks.json` file
[code]

`build.ps1`
[code]

Running it with `Ctrl+Shift+B`
[code]

Running it via status bar button
[code]

Please find attached zip folder with all files inside
[test.zip](htt

[2017-03-12 15:35] guardrex commented on #19
@alan-null It's more limited than what VSC fully offers now. `${cwd}` is not a supported variable. You'll have to explicitly add that path or see if you can use `${workspaceRoot}` along with hardcoded directories after it to assemble the path to your CWD. The variables that are supported are listed in the README.

Also note that `taskSelector` and `taskName` combo won't work, you'd have to configu

[2017-03-12 15:54] alan-null commented on #19
@GuardRex thanks so much for the reply. I will give a try and check workarounds.
I saw that the author was inactive after your latest reply so I wanted to provide more information in case you wanted to fix it.

Thanks for work you've done so far.

[2017-03-12 15:59] guardrex commented on #19
@alan-null I wouldn't mind working on it, but I work 50+ hours per week on professional projects. This extension was just something I did to help myself with basic .NET Core web dev projects and just threw it up on the Marketplace in case anyone wanted to use it. I had no idea it was going to take off like this with thousands of devs using it. IMO Microsoft should give VSC a toolbar with the tasks

[2017-03-12 16:12] alan-null commented on #19
When I see how dynamically they develop it I think it will happen someday. Anyway, congrats on your open-source success ;)
I was able to get it working. Thanks again @GuardRex for help and good luck with your projects!

[2017-03-28 16:34] zRnatoNeto opened #20 "tasks not are runned"
When I click on the task button, this message appears
![image](https://cloud.githubusercontent.com/assets/16787161/24416399/054681d0-13bb-11e7-8a53-d7e042ac26b9.png)
This is my tasks.json file:
[code]

[2017-03-28 17:42] guardrex commented on #20
I'm a Windows cat, so I'm not familiar with the `sh` shell command or its arguments. Usually when CLI tools don't understand the command, they spit out the usage hints like that. You might want to try organizing them without spaces in the `args`, like this ...
[code]

[2017-03-28 18:09] 0xRnato commented on #20
Did not work. The way I mounted it and the one that you showed me, works perfectly when I run using ctrl+shift+p, only when I try clicking on the button of status bar,  what gives the problem

[2017-03-28 18:12] guardrex commented on #20
The extension uses Node's `child_process` module to run them. I wonder if the `sh` command is even required here. Isn't the `sh` just a shell to run the actual command here, `sudo`? Try this one and see what it does ...
[code]

[2017-03-28 18:37] 0xRnato commented on #20
It works!!
But this task doesn't work yet:
[code]
I tried to follow the same pattern as you said, but for this task did not work

[2017-03-28 18:46] guardrex commented on #20
Ok ... progress! :+1:

so you tried it like this ...
[code]
I think this is due to the `&&` double command structure. You can combine them both into a single script file, then run the script file with the extension, or you can have two separate tasks ...
[code]
I think it breaks when trying to run multiple commands strung together back-to-back.

[2017-03-28 19:03] 0xRnato commented on #20
Doesn't work yet :(

[2017-03-28 19:13] guardrex commented on #20
Hum ... I'm not sure. The best bet you have for that one is to put the commands into a script file that you know for sure works, then use the extension to run the script file. That was a question from some other devs: What if I have 3 ... or 5 ... or 20 things I want to do? I think a script file should work as long as you don't run into permissions problems running the script.

[2017-03-28 19:44] 0xRnato commented on #20
This worked. I was the wrong thing.
[code]

Thank you so much...

[2017-03-28 19:46] 0xRnato commented on #20
Just one more doubt. Is it possible to use 2 background tasks at the same time? I would like to use gulp and a node server at the same time ....

[2017-03-28 20:01] guardrex commented on #20
Yes, I think so. Each time you click it immediately launches the task with the Node `child_process` module, so I think they each would run on their own process. There's no way to stop or control them tho ... this extension works best for dedicated one-shot single-fire run and end tasks. It doesn't work well for background tasks that will run forever ... until the machine is shutdown.

[2017-03-28 20:27] 0xRnato commented on #20
OK, Thank you o/

[2017-03-28 20:27] #20 closed

[2017-04-26 20:37] immeraufdemhund opened #21 "windows commands with spaces doesn't work"
"tasks": [
        {
            "taskName": "build",
            "command": "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Enterprise\\MSBuild\\15.0\\Bin\\MSBuild.exe",
            "args": [
                "/clp:Summary",
                "/v:quiet"
            ],
            "problemMatcher": "$msCompile",
            "showOutput": "always",
            "echoCommand": true,

[2017-04-27 07:47] mrkafk opened #22 "No license"
Hello,

Software that does not have associated license is extremely risky legally speaking. Can you please add some (hopefully permissive) license?

[2017-05-30 15:24] DrYSG commented on #13
well I like this too.  What about having a button to cancel all spawn child processes of status-bar tasks? That is just keep a list of when you spawn a task like the babel task I have below. Right now, I have to manually find the Node.exe task and then kill it.

[code]

[2017-06-14 08:57] cprogrammer1994 opened #23 "${workspaceRoot} is empty when no file is open"
`${workspaceRoot}` is empty when no file is open.

Here are some details about the issue:

https://github.com/Microsoft/vscode/issues/28620

Here are some screenshots:

![tasks json](https://user-images.githubusercontent.com/11232402/27124087-2e83f650-50f0-11e7-9326-a6cacaed0c41.gif)

[2017-06-14 16:26] #23 closed

[2017-06-18 20:44] simply-coded opened #25 "showOutput is ignored"
"showOutput": "never"
Does not work. The output window always pops up.

[2017-06-19 05:53] guardrex commented on #25
I'll have to research this a bit more. I didn't do anything with `showOutput` with regards to what the extension does. It doesn't read or use the value. The extension just farms out any command to Node's `child_process` module to run it. One would think that `showOutput` would work with the extension OOB as with any other executed command, but idk what's going on with it. I'll try to take a look a

[2017-07-05 14:58] Christian-Marx opened #26 "Problem matcher not invoked from plugin?"
Running tasks using the "task ..." command in VS Code invokes my custom problem matcher, showing the appropriate errors in the problems tab.
However, when running the same task using the "Status Bar Tasks" plugin, the problems tab does not show any errors. I assume this is because the output of the plugin goes to a dedicated "Status Bar Tasks" console? Do I miss any setting?

VS Code Version 1.13.

[2017-08-14 22:30] aefernandes opened #27 "Auto-detect tasks using VS Code Tasks 2.0"
The VS Code auto-detection updates in [Tasks 2.0](https://code.visualstudio.com/docs/editor/tasks#_task-autodetection) let me run tasks from certain languages without a tasks.json. It would be great to have your status bar icons for those tasks, without having to create a tasks.json. This seems possible in the updated API by registering a task provider.

[2017-10-06 14:28] mattmogford opened #29 "Possible Integrated Terminal addition?"
Hi,
Using windows I've added git bash as my integrated terminal.
But using this extension, it just uses exec and outputs to the output panel.
I think this is using Powershell maybe?

I have changed the extension locally to use the following -
if(useIntegratedTerminal) {
  if(!term) {
    term = vscode.window.createTerminal('Status-Bar-Task ' + cmd);
  }
  term.show();
  term.sendText(cmd);
} else

[2017-10-06 14:55] mattmogford commented on #29
have made progress on this by adding a useIntegratedTerminal property to the schema
and a check for it in the main code. {updated OP}
If anyone else wants this I can branch it and do it properly.

[2017-11-10 14:45] cento opened #30 "Using of "label" instead of "taskName""
According to the last vscode update, the old "taskName" is deprecated.
#28

[2017-11-22 00:58] guardrex commented on #4
They've added a debugger launch now to the status bar, so we're covered on this request now.

[2017-11-22 00:58] #4 closed

[2017-11-22 01:02] guardrex commented on #7
Ha! ... "in a couple of weeks." What was I thinking?? lol I've been putting in crazy hours, and the :turkey: Day break is the first break I've had to catch my breath.

However, I simply won't be able to implement this one. I'm only going to deal with the most important issues that pertain to keeping the extension working with VS Code (e.g., moving to the `label` prop in *tasks.json*).

[2017-11-22 01:02] #7 closed

[2017-11-22 01:10] guardrex commented on #11
I finally have some time to look at these issues and do a quick update on the extension. I've decided to stick with Node's `child_process` module. It's been sooooo reliable for me here. I'm not sure what behavioral differences there would be with `workbench.action.tasks.runTask` (maybe none). I hate to adopt the stupid "if it ain't broke" philosophy; but although I have some time to work on the ex

[2017-11-22 01:10] #11 closed

[2017-11-22 01:13] guardrex commented on #13
As silly as this sounds, I'm going to call the current behavior **a feature**. lol :smile: I think having it just use Node's `child_process` module and fire off a completely independent task outside of VSC is fine as a feature for this. I built it originally to run `dotnet` command working with .NET Core console apps and ASP.NET Core web apps, and I don't mind it just running `dotnet` commands how

[2017-11-22 01:13] #13 closed

[2017-11-22 01:23] guardrex commented on #16
I'm going to close this one because it's a little beyond the scope of what the extension can do OOB without a lot more work (well ... more than 10 minutes! ... I only have this evening for a quick update). What I've been doing to overcome any kind of directory issues is just give it the full path to whatever I need it to process. For example in the case of a .NET Core sample for Razor Pages testin

[2017-11-22 01:23] #16 closed

[2017-11-22 01:24] guardrex commented on #18
Given my work at Microsoft these days, there's no way I can support cwd in the forseeable future. I just hope the VSC folks come to the conclusion that they need to implement a task running toolbar in VSC.

[2017-11-22 01:24] #18 closed

[2017-11-22 01:27] guardrex commented on #19
I think that we figured out here that cwd wasn't supported and that's caused several devs a problem. I'm still working for Microsoft and slammed all the time these days. I won't be able to support cwd ... at least no time in the near future. Thanks tho for the suggestion/recommendation on how to improve the extension. Hopefully, VSC cats will come to their senses and give us a REAL task running to

[2017-11-22 01:27] #19 closed

[2017-11-22 01:35] guardrex commented on #21
Yes, I think your workaround will have to suffice. I've never needed spaces in the command. AFAIK you wouldn't be able to paste that in at a command prompt either and expect it to work without quotes. I wonder if the VSC folks to set it up with quotes internally for shell execution ... idk what they do to make it :sparkles: Just Work :sparkles:. I'm always using commands that are on the PATH. If y

[2017-11-22 01:35] #21 closed

[2017-11-22 01:45] guardrex commented on #22
Thanks! Yes ... I'm adding the "Beerware License" to it now, which is GPL compatible and lets anyone do anything they want with it. I'll have the license uploaded with the next update coming (hopefully) later this evening.

[2017-11-22 02:21] guardrex commented on #25
They've implemented a new way to control output ...

[code]

I'd love to implement something to take advantage of the new features, but I just don't have the time.

[2017-11-22 02:21] #25 closed

[2017-11-22 02:23] guardrex commented on #26
That's probably correct. I'd love to look further into it, but I'm slammed these days working FT for Microsoft. I just don't have time to really maintain the extension any more than the critical updates (e.g., I'm going to make it use `label` tonight over the depreciated `taskName`). Thanks tho for asking. Hopefully, the VSC folks will come to their senses and give us all a professionally-built RE

[2017-11-22 02:23] #26 closed

[2017-11-22 02:25] guardrex commented on #27
Possibly ... it's a great suggestion. However, I'm working FT for Microsoft these days, and I just don't have time to implement anything but critical updates. For example, I'm making it use the `label` prop for 2.0.0 *tasks.json* tonight and getting away from the `taskName` prop of 0.1.0/0.2.0. Thanks for raising the issue. Hopefully, VSC folks will wake up and smell the coffee that we need a REAL

[2017-11-22 02:25] #27 closed

[2017-11-22 02:28] guardrex commented on #29
Yes, I hope you'll do it. I'm swamped working FT for Microsoft. I only have time to perform critical updates (e.g., moving to `label` and away from `taskName` this evening, for example). I hope the VSC folks will properly offer a REAL task running toolbar for VSC. You're welcome under my *Beerware License* (will be added tonight) to do whatever you want with the source code.

[2017-11-22 02:28] guardrex commented on #30
Yes ... I'm working on this tonight (11/21). I'll have it rolled out this evening.

[2017-11-22 03:19] #22 closed

[2017-11-22 03:19] #30 closed

[2017-11-28 19:19] Eccenux opened #31 "Running tests from the status bar result in an error"
Seems like the tasks form this status bar work in some different environment.

When I "Run tests" I get and error:

Here is my `tasks.json`. Also note that only "Run tests" task was recognized.
[code]

[2017-12-08 07:40] guardrex commented on #31
I guess it's choking on the dot in `./scripts/test.sh`. Did you try with just `scripts/test.sh` in the `command`?

As for getting them to show up, you need a `label` and a `command` on them. The command should contain the full command, including arguments. For example ...

[code]

[2017-12-08 16:19] Eccenux commented on #31
I'm running this on Windows 10 so `./scripts/test.sh` should not be used.

[2018-01-04 18:27] darkmusic opened #32 "Increase and/or make configurable maxBuffer"
The maxBuffer in exec is currently fixed at 2048000, and if this is exceeded, the process is killed.  As this makes this extension unusable for large builds, this setting needs to be increased and/or made configurable.

[2018-01-21 14:02] karbowiak commented on #29
Any chance this could be revived? :)

[2018-01-21 17:18] guardrex commented on #29
I'm still swamped with work, and I have a feeling that won't change anytime soon. Someone would need to submit a PR for this that I could then just roll right into the extension. If someone does it, I like the idea of having an option to control this as @mattmogford shows (`useIntegratedTerminal`), which would come in from the workspace options (or default to `false` if not present).

[2018-01-21 19:42] mattmogford commented on #29
I could have a look at this. May have a poke around to ight or tomorrow. Will submit a PR if I come up with anything.
As I Mac at work and Windows at home, I'm using this stuff all the time. Think the last vsc update messed something up again so I have to open an external terminal to do certain things.

[2018-02-03 22:25] Eccenux commented on #31
This works (kind of):
[code]

But it is not run as a test task (ticks are not green).

Also note that above test task is taken from the MS instructions on how to setup a test task:
https://code.visualstudio.com/docs/editor/tasks#_custom-tasks

[2018-02-04 02:12] Eccenux commented on #31
I've added a separate `Task` class to make my solution less messy. Would also be possible to add unit tests now.

Strange thing is that I had to change `typings` references to compile and run the plugin in latest VSCode... Seems like there is no `typings` folder in `/node_modules/vscode/`. I can push it as a patch if you have problems running the code.

[2018-02-27 11:07] lukaszpolowczyk opened #34 "Not work for type: npm"
[code]

You can see the buttons on the status bar.
When I click, the "Output" panel appears, but nothing happens, the command does not start.

What is wrong? Can this be fixed in an update?

[2018-02-27 11:27] lukaszpolowczyk opened #35 "I want to start in Terminal panel instead Output panel"
@Example, start create-react-app:
{
			"label": "npm start",
			"type": "shell",
			"command": "npm start",
			"problemMatcher": [],
			"isBackground": true
		}
Click on status bar "npm start", show Output panel.
When click Tasks menu > Run Task > npm start, show Terminal panel, and Ii might stop server.
In addition, the "Show running tasks" icon will appear in the status bar with the number of ta

[2018-02-27 12:50] lukaszpolowczyk opened #36 "`View: Close Panel` after run task"
I must close Panel manually after each task start.
But there is a command: View: Close Panel.

Could you add an option so that the panel closes itself after the task start?

[2018-02-27 13:08] lukaszpolowczyk commented on #36
Sorry, property `presentation { reveal: never/silent}` in task doing this.
Issue is out of date.

[2018-03-08 08:41] DBS06 opened #37 "Terminate Running Tasks"
A nice feature would be to stop/kill/terminate running tasks.
VSCode would be possible to do that, but tasks which have been started over the status bar are not recognized as a task.

[2018-03-14 12:49] guardrex commented on #37
That's correct. This extension uses Node's `child_process` module to shell out tasks. It's just the way that I built it, and it was built before VSC offered more control over tasks via their API.

I still hope that that the VSC people *wake up* and figure out that VSC needs a toolbar with the ability to run tasks as clickable buttons. A gazillion people ask for it, and they keep closing the issues

[2018-03-14 12:49] #37 closed

[2018-03-14 12:50] #36 closed

[2018-03-14 12:54] guardrex commented on #35
Thanks for the suggestion, but I'd prefer to have the extension just shell out the command to Node's `child_process` module. That's the only thing that I was going for with the extension. Of course, you're welcome to fork the repo and make a version that does what you need.

[2018-03-14 12:54] #35 closed

[2018-03-14 12:58] guardrex commented on #35
Thanks for the suggestion, but I would like to just have the extension shell out the task. Of course, you can fork the repo and make a version of the extension that meets your needs.

[2018-03-14 13:02] guardrex commented on #37
DAH! GH is flaking out this morning and double-posting my comments ... so I deleted one of them and it deleted the entire comment.

Anyway ... Thanks for the suggestion, but I would like to just have the extension shell out the task. Works for me, since I don't want them tied to VSC. This way, VSC can be closed, and the task will continue to run independently. This also goes back to the history of

[2018-03-14 13:06] DBS06 commented on #37
Thanks for your answer, I will look into it and learn a little bit typescript :-)

[2018-03-14 13:07] guardrex commented on #29
I'm going to close because I won't have time to work on the extension further and the current feature set meets the goals of the extension. The basic goal was always to just shell out the task to Node's `child_process` module and let them run with output in the output panel. Anyone who wants this feature can fork and make a version with it using @mattmogford's approach.

[2018-03-14 13:07] #29 closed

[2018-03-14 13:11] guardrex commented on #31
I'm not really fielding new features of the extension. I encourage devs who need more features or who want to change the extension to fork and create their own version of it. At this point, I'm just waiting on the VSC engineers to *wake up* and put a toolbar in VSC that can run tasks. People keep asking them for it, but they keep declining. I think eventually they will need to take up the feature

[2018-03-14 13:11] #31 closed

[2018-03-14 13:12] guardrex commented on #32
Sorry @darkmusic ... I'm not really maintaining the extension with new features. I'm working crazy long hours and don't have time at the moment. I recommend forking the extension and increasing the maxBuffer to meet your needs.

[2018-03-14 13:12] #32 closed

[2018-03-14 13:13] guardrex commented on #34
You didn't set up the tasks correctly. See the readme for details or the landing page in the marketplace: https://marketplace.visualstudio.com/items?itemName=GuardRex.status-bar-tasks

[2018-03-14 13:13] #34 closed

[2018-03-14 13:51] lukaszpolowczyk commented on #35
And could you add an option to be able to choose? I think there is nothing to do "competitive" extensions that differ so little.

[2018-03-14 13:56] guardrex commented on #35
You can add it ... just fork the repo and you can change the code to do anything you like. I'm crazy busy with full-time work these days, and I just won't have time to expand the feature set of the extension. I'm really hoping that the VSC engineers add a toolbar that can run tasks to VSC. Then, I would be able to depreciate this extension. https://github.com/Microsoft/vscode/issues/41309

[2018-03-14 13:57] lukaszpolowczyk commented on #34
It's set up correctly because ... the tasks were generated by vscode based on the package.json file.
These tasks start correctly via Tasks> Run Task ... "npm start". So the task is correct.
Just your extension lacks support for type npm.

Could you introduce support for type npm?

(I know that you can switch to a type shell, etc., but the point is to still do it.)

[2018-03-14 14:03] guardrex commented on #34
I can't ... I'm working insane hours right now. Lots of devs are asking me to add lots of new features, and I just can't accommodate the requests. This is why I'm telling everyone to fork the extension and add the feature that they need.

This extension was just a little "for fun" project to help me shell out tasks quickly. I never intended it to become so popular ... I just thought a few dozen de

[2018-05-21 08:36] bjg2 commented on #35
Hey, this is real issue:
1) output pane is not interactive as terminal you can't stop the execution, add keyboard input, etc
2) output coloring is not working

understanding you have too much stuff to do (and already thankful for this extension you created) I forked and added showInTerminal option to tasks (if true output is in terminal, if anything else current behavior is preserved): https://git

[2018-05-21 08:38] bjg2 opened #38 "Run in terminal improvement"
Seems I cannot unclose https://github.com/guardrex/vscode-status-bar-tasks/issues/35, so I'm opening new issue just to get the traction to that one (please take a look at a comment there).

[2018-05-26 16:09] guardrex commented on #38
I'm working ~60 hour weeks right now, and I don't have time to maintain the extension. I'm sorry about that, but my job pays the mortgage and puts food on the table, so my paid duties must come first.

IMO the real group who have dropped the ball here is the VSC team. They have steadfastly refused provide a clickable tasks toolbar at every request, and they won't even say why they won't do it.

[2018-05-26 16:09] #38 closed

[2018-06-06 10:21] mtiziano opened #40 "always opening "output" panel"
every time i run this task, it opens "output" panel, even with **"presentation": { "reveal" : "never" }**

    "version": "2.0.0",
    "tasks": [
        {
            "label": "$(sync) shake",
            "command": "%ANDROID_HOME%\\platform-tools\\adb shell input keyevent 82",
            "presentation": {
                "reveal": "never"
            }
        },
    ]

[2018-06-22 14:58] DengSir opened #41 "not support options cwd ?"

[2018-07-10 06:53] XianwuLin opened #42 "The variable ${workspaceRoot} was deprecated"
https://code.visualstudio.com/docs/editor/variables-reference#_common-questions

Q: Why isn't ${workspaceRoot} documented?

A: The variable ${workspaceRoot} was deprecated in favor of ${workspaceFolder} to better align with Multi-root Workspace support.

[2018-10-25 15:28] fatfatson commented on #41
+1
now I have to add "cd XXX;" to the begin of the command

[2018-12-15 11:34] chiboreache commented on #41
+1

[2018-12-15 11:36] chiboreache commented on #40
That extremely, not **EXTREMELY** annoying!

[2018-12-18 05:11] fatfatson opened #43 "This extension is now unpublished from Marketplace.？"

[2018-12-18 17:53] ffaubert commented on #43
What happened? :(  Can we get this back in the marketplace?

[2019-04-04 23:02] guardrex commented on #43
Sorry ... closing. I'm so insanely busy that I can no longer maintain it. I'll leave it archived in case someone wants to make their own extension out of it.

[2019-04-04 23:02] #43 closed

[2019-04-04 23:02] guardrex commented on #42
Sorry ... closing. I'm so insanely busy that I can no longer maintain it. I'll leave it archived in case someone wants to make their own extension out of it.

[2019-04-04 23:02] #42 closed

[2019-04-04 23:02] guardrex commented on #41
Sorry ... closing. I'm so insanely busy that I can no longer maintain it. I'll leave it archived in case someone wants to make their own extension out of it.

[2019-04-04 23:02] #41 closed

[2019-04-04 23:02] guardrex commented on #40
Sorry ... closing. I'm so insanely busy that I can no longer maintain it. I'll leave it archived in case someone wants to make their own extension out of it.

[2019-04-04 23:02] #40 closed